<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name='yandex-verification' content='71306b8b89c884e4'>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>
        {% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <link href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon"/>

    {% ifinstalled mezzanine.blog %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}base_pages/bootstrap.responsive.css?v=1">
        {#        <link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">#}
        <link rel="stylesheet" href="{{ STATIC_URL }}base_pages/styles.css?v=1">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/rtl.css">
        {% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
        {% endifinstalled %}

        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script type="text/javascript">
            True = true;
            False = false;
            user = {
                'is_authenticated': {{ user.is_authenticated }},
                'is_staff': {{user.is_staff}},
                'is_superuser': {{user.is_superuser}},
                'is_active': {{user.is_active}},
                'username': "{{user}}"
            };
        </script>
        <script src="{{ STATIC_URL }}mezzanine/js/{{ settings.JQUERY_FILENAME }}"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script>
            $(function () {
                $('.middleinput:text, textarea').addClass('xlarge');
                $('.control-group label').addClass('control-label');
            });
        </script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}
    <!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?79"></script>
    <script type="text/javascript">
        VK.init({apiId: 3471111, onlyWidgets: true});
    </script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39022915-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
</head>

<body id="{% block body_id %}body{% endblock %}">

{% comment %}
<!-- div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
            {% if settings.SITE_TAGLINE %}<p class="tagline">{{ settings.SITE_TAGLINE }}</p>{% endif %}
            <div class="nav-collapse">
                {% search_form "all" %}
                {% page_menu "pages/menus/dropdown.html" %}
            </div>
        </div>
    </div>
</div --> 
{% endcomment %}

<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter20419816 = new Ya.Metrika({id:20419816, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/20419816" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->


<div class="wrapper">

    {# include "stage_header.html" #}
    <!--div class="alert alert-alert" data-alert="alert">
        <h3>По техническим причинам и некоторым организационным моментам</br>
            соревнование переносится на</h3><h2>6 апреля</h2></br>
            <h3>Просим отнестись с пониманием.</h3>
            P.S. Это никак вам не мешает отправлять заявку на участие уже сейчас.
    </div-->

    {% nevercache %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" data-alert="alert">
                <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
            </div>
        {% endfor %}
    {% endnevercache %}

    <a href="/"><img src="/static/header.png" style="opacity: 0.8"></a>
    <!--<h1>{% block title %}{% endblock %}</h1>-->
    

    <ul class="breadcrumb">
        {% spaceless %}
            {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
        {% endspaceless %}
    </ul>

</div>
<div class="container wrapper">
    <div class="row">

        {% comment %}
        {% endcomment %}

        <div class="span5 middle" style="background-color: #f5f5f5;">
            {% block main %}{% endblock %}
        </div>

       <div class="span3 rigth" style="">
        {% block left_panel %}
        <div class="panel tree" style="background-color: #f5f5f5;">{% page_menu "pages/menus/tree.html" %}</div>
        {% endblock %}
       </div>


        <div class="span3 right">
            {% nevercache %}
                {# % include "includes/user_panel.html" % #}
            {% endnevercache %}
            <div class="panel">
                {% block right_panel %}
                    {% ifinstalled mezzanine.twitter %}
                        {% include "twitter/tweets.html" %}
                    {% endifinstalled %}
                {% endblock %}
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="container">
       {% page_menu "pages/menus/footer.html" %}
       <br style="clear:both"> 
      <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
      <ul><li><g:plusone></g:plusone></li><li><div id="vk_like"></div><script type="text/javascript">VK.Widgets.Like("vk_like", {type: "mini", height: 20});</script></li><li><a href="https://twitter.com/share" class="twitter-share-button" data-text="Я буду играть в Ural SchoolCTF!" data-lang="ru" data-hashtags="UralSchoolCTF">Твитнуть</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li></ul>
        <p class="muted credit">Вопросы и замечания присылайте на почту: <a href="mailto:uralschoolctf@hackerdom.ru">UralSchoolCTF@HackerDom.ru</a><br>Ural SchoolCTF разрабатывается командой <a href="http://hackerdom.ru">ХакерДом</a><br>
           При организационной поддержке компании <a href="http://kontur.ru"><img src="/static/skbkontur.png" width="90px" style="background:transparent;"></a></p> 
    </div>

{% include "includes/footer_scripts.html" %}
</footer>

</body>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</html>
